<!-- Call master html layout page -->
{% extends "layout.html" %}

<!-- replace content block in layout page -->
{% block content %}
        <!-- Loop through all items for a category and show a count of items for category -->
        <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 		<div class="panel-body">
	 		<h2 class="page-header">{{categoryName}} <span class="badge">{{itemCount}}</span></h2>
	 		<p class="btn btn-default"><a href="{{ url_for('newItem',category_name = categoryName) }}">New Item</a></p>
			{% for i in items %}
			<h4>{{i.item_name}}</h4>
			<p><a href="{{ url_for('viewItem',category_name = i.category_name, item_name = i.item_name) }}">View Item</a></p>
		</br>
			{% endfor %}
			</div>
		</div>
	</div>
<!-- end content block -->
{% endblock %}
