<!-- Call master html layout page -->
{% extends "layout_public.html" %}

<!-- replace content block in layout page -->
{% block content %}
        <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 		<div class="panel-body">
			<h2 class="page-header">Latest Items</h2>
			<!-- Loop through top 5 last added items and dynamically create url -->
			{% for i in items %}
			<h4><a href="{{ url_for('viewItem',category_name = i.category_name, item_name = i.item_name) }}">{{i.item_name}} </a> <span class="label label-success">{{i.category_name}}</span></h4>
		</br>
			{% endfor %}
			</div>
		</div>
	</div>
	
	
<!-- end content block -->
{% endblock %}